# ironic username and password files
*/overlays/*/ironic-username
*/overlays/*/ironic-password
*/overlays/*/ironic-auth-config
*/overlays/*/ironic-inspector-auth-config
*/overlays/*/ironic-htpasswd
*/overlays/*/ironic-inspector-htpasswd

# ironic-standalone-operator basic-auth and tls credentials
ironic-standalone-operator/ironic/components/basic-auth/ironic-password
ironic-standalone-operator/ironic/components/basic-auth/ironic-username
ironic-standalone-operator/ironic/components/tls/ironic-cert.pem
ironic-standalone-operator/ironic/components/tls/ironic-key.pem

