---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: metal3clustertemplates.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: Metal3ClusterTemplate
    listKind: Metal3ClusterTemplateList
    plural: metal3clustertemplates
    shortNames:
    - m3ct
    singular: metal3clustertemplate
  scope: Namespaced
  versions:
  - deprecated: true
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: Metal3ClusterTemplate is the Schema for the metal3clustertemplates
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Metal3ClusterTemplateSpec defines the desired state of Metal3ClusterTemplate.
            properties:
              template:
                description: Metal3ClusterTemplateResource describes the data for
                  creating a Metal3Cluster from a template.
                properties:
                  spec:
                    description: Metal3ClusterSpec defines the desired state of Metal3Cluster.
                    properties:
                      cloudProviderEnabled:
                        description: |-
                          Determines if the cluster is to be deployed with an external cloud provider.
                          If set to false, CAPM3 will use node labels to set providerID on the kubernetes nodes.
                          If set to true, providerID is set on nodes by other entities and CAPM3 uses the value of the providerID on the m3m resource.
                          Default value is true, it is set in the webhook.
                        type: boolean
                      controlPlaneEndpoint:
                        description: ControlPlaneEndpoint represents the endpoint
                          used to communicate with the control plane.
                        properties:
                          host:
                            description: Host is the hostname on which the API server
                              is serving.
                            type: string
                          port:
                            description: Port is the port on which the API server
                              is serving.
                            type: integer
                        required:
                        - host
                        - port
                        type: object
                      failureDomains:
                        additionalProperties:
                          description: |-
                            FailureDomainSpec is the Schema for Cluster API failure domains.
                            It allows controllers to understand how many failure domains a cluster can optionally span across.
                          properties:
                            attributes:
                              additionalProperties:
                                type: string
                              description: attributes is a free form map of attributes
                                an infrastructure provider might use or require.
                              type: object
                            controlPlane:
                              description: controlPlane determines if this failure
                                domain is suitable for use by control plane machines.
                              type: boolean
                          type: object
                        description: FailureDomains specifies a list fo failure zones
                          that can be used
                        type: object
                      noCloudProvider:
                        description: |-
                          Determines if the cluster is not to be deployed with an external cloud provider.
                          If set to true, CAPM3 will use node labels to set providerID on the kubernetes nodes.
                          If set to false, providerID is set on nodes by other entities and CAPM3 uses the value of the providerID on the m3m resource.

                          Deprecated: This field is deprecated, use cloudProviderEnabled instead
                        type: boolean
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: false
  - name: v1beta2
    schema:
      openAPIV3Schema:
        description: Metal3ClusterTemplate is the Schema for the metal3clustertemplates
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Metal3ClusterTemplateSpec defines the desired state of Metal3ClusterTemplate.
            properties:
              template:
                description: Metal3ClusterTemplateResource describes the data for
                  creating a Metal3Cluster from a template.
                properties:
                  spec:
                    description: Metal3ClusterSpec defines the desired state of Metal3Cluster.
                    properties:
                      cloudProviderEnabled:
                        description: |-
                          Determines if the cluster is to be deployed with an external cloud provider.
                          If set to false, CAPM3 will use node labels to set providerID on the kubernetes nodes.
                          If set to true, providerID is set on nodes by other entities and CAPM3 uses the value of the providerID on the m3m resource.
                          Default value is true, it is set in the webhook.
                        type: boolean
                      controlPlaneEndpoint:
                        description: ControlPlaneEndpoint represents the endpoint
                          used to communicate with the control plane.
                        properties:
                          host:
                            description: Host is the hostname on which the API server
                              is serving.
                            type: string
                          port:
                            description: Port is the port on which the API server
                              is serving.
                            type: integer
                        required:
                        - host
                        - port
                        type: object
                      failureDomains:
                        description: FailureDomains specifies a list of failure zones
                          that can be used
                        items:
                          description: |-
                            FailureDomain is the Schema for Cluster API failure domains.
                            It allows controllers to understand how many failure domains a cluster can optionally span across.
                          properties:
                            attributes:
                              additionalProperties:
                                type: string
                              description: attributes is a free form map of attributes
                                an infrastructure provider might use or require.
                              type: object
                            controlPlane:
                              description: controlPlane determines if this failure
                                domain is suitable for use by control plane machines.
                              type: boolean
                            name:
                              description: name is the name of the failure domain.
                              maxLength: 256
                              minLength: 1
                              type: string
                          required:
                          - name
                          type: object
                        type: array
                      noCloudProvider:
                        description: |-
                          Determines if the cluster is not to be deployed with an external cloud provider.
                          If set to true, CAPM3 will use node labels to set providerID on the kubernetes nodes.
                          If set to false, providerID is set on nodes by other entities and CAPM3 uses the value of the providerID on the m3m resource.

                          Deprecated: This field is deprecated, use cloudProviderEnabled instead
                        type: boolean
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: true
