name: build-fkas-images-action

on:
  push:
    branches:
    - 'main'
    paths:
    - 'hack/fake-apiserver/**'
    - 'api/**'

permissions:
  contents: read

jobs:
  prepare:
    name: Prepare FKAS build
    if: github.repository == 'metal3-io/cluster-api-provider-metal3'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Calculate go version
      id: vars
      run: echo "go_version=$(make go-version)" >> "${GITHUB_OUTPUT}"
    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ steps.vars.outputs.go_version }}
    - name: Prepare fake-apiserver
      run: |
        mkdir -p hack/fake-apiserver/capm3
        cp -r api/ hack/fake-apiserver/capm3
        cd hack/fake-apiserver
        go mod edit -replace=github.com/metal3-io/cluster-api-provider-metal3=./capm3
        go mod tidy
    - name: Upload artifact of prepared fkas env
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: prepared-fkas
        path: hack/fake-apiserver/**

  build_FKAS:
    name: Build Metal3-FKAS image
    if: github.repository == 'metal3-io/cluster-api-provider-metal3'
    needs: prepare
    uses: metal3-io/project-infra/.github/workflows/container-image-build.yml@main
    with:
      image-name: "metal3-fkas"
      pushImage: true
      artifact-name: prepared-fkas
      sign-image: true
    secrets:
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
